{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-header-title">
          {{ 'FAQ Questions & Answers'|trans({}, 'Modules.Faq.Admin') }}
        </h3>
      </div>
      <div class="card-body">
        {# TODO: add questions/answers grid/list here #}
        <p>{{ 'Manage FAQ questions and answers.'|trans({}, 'Modules.Faq.Admin') }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
